/* 로고 */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.logo {
    font-family: 'Dancing Script', cursive;
    color: #87CEEB;
    font-size: xxx-large;
    padding-bottom: 2rem;
    background: #fff;
}

/* 리스트 공간 0 */
.list-group-item {
    padding: 0;
    border: none;
}

/* 버튼 크기 키우기 */
.list-group-item button {
    width: 100%;
    height: 100%;
}

/* 리스트 버튼 : hover 색상변경 */
.d-block li > button:hover {
    color: #fff;
    background-color: #87CEEB;
}

.d-none li > button:hover {
    color: #fff;
    background-color: #87CEEB;
}

button {
    border: none;
}

.btn_color {
    color: #fff;
    background-color: #87CEEB;
}

html, body {
    height: 100%;
}
