<!DOCTYPE html>
<html lang="UTF-8">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>learn-bootstrap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>    <style>
        html,body {
         height: 100%;
        }   
    </style>
</head>
<body class="text-center">
<!-- container는 가장 상위 요소 -->
<!-- h-100: height100% -->
<div class="container h-100"  > 
	<!-- row는 간단하게 설명하자면 콘텐츠영역을 감싸는 상위요소입니다. -->
    <!-- align-items-center: 수직중앙정렬 -->
	<div class="row d-flex align-items-center h-100"> <!-- 이 영역은 콘텐츠 2개를 포함합니다.-->
    	<!-- col-md-숫자는 콘텐츠영역입니다.  -->
    	<div class="col-md-6"> 
            <!-- 캘린더 이미지 -->
        	이미지
        </div>

        <div class="col-md-6 "> 
            <!-- id/pwd찾기 화면 -->
        	<ul class="nav nav-tabs">

                <li class="nav-item w-50">
            
                    <a class="nav-link active" data-bs-toggle="tab" href="#id">id</a>
            
                </li>
            
                <li class="nav-item w-50">
            
                    <a class="nav-link" data-bs-toggle="tab" href="#pwd">pwd</a>
            
                </li>
            
            </ul>
            
            <img class="mb-6" src="" alt="">
                <h1 class="h3 mb-3 fw-normal">로고</h1>
            
            <!-- Tab 영역-->
            
            <div class="tab-content">
            
                <div class="form-floating tab-pane  active" id="id">
                    <input type="email" class="form-control"  placeholder="이메일 입력...">
                    <label for="email">이메일</label>
                </div>

                <div class="form-floating tab-pane  fade" id="pwd">
                    <input type="text" class="form-control"  placeholder="아이디 입력...">
                    <label for="id">아이디</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">찾기</button>

            </div>
            
        </div>
    </div>
    
    
    
</div>

</body>
</html>