<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>learn-bootstrap</title>
    <!--부트스트랩 링크-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!--구글 폰트 링크-->
    <link href="/static/css/logo_font.css" rel="stylesheet" type="text/css"/>
</head>

<body class="text-center">
<!-- container는 가장 상위 요소 -->
<!-- h-100: height100% -->
<div class="container h-100">
    <!-- row는 간단하게 설명하자면 콘텐츠영역을 감싸는 상위요소입니다. -->
    <!-- align-items-center: 세로중앙정렬 -->
    <!-- justify-content-center : 가로중앙정렬 -->
    <div class="row d-flex align-items-center h-100 justify-content-center"> <!-- 이 영역은 콘텐츠 2개를 포함합니다.-->
        <!--sm일 때, 그림 사라짐-->
        <div class="col-3 d-none d-sm-flex">
            <img src="/static/images/pixel-cells-3674112_1920.png" alt="이미지" width="100%" height="100%">
        </div>

        <div class="col-6">
            <!-- 로그인 화면 -->
            <button class="logo col-12">planner</button>
            <form action="login.jsp" method="post">
                <div class="form-floating">
                    <input type="text" class="form-control" id="id" placeholder="아이디 입력...">
                    <label for="id">아이디</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="pwd" placeholder="Password">
                    <label for="pwd">비밀번호</label>
                </div>
                <p class="checkbox mb-6 text-start">
                    <label>
                        <input type="checkbox" value="remember-me"> 아이디 저장
                    </label>
                </p>
                <button class="w-100 btn btn-lg btn_color" type="submit">로그인</button>
            </form>

            <!--lg일 때, 나타남-->
            <div class="d-block d-lg-none">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle mt-5 col-12" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        계정 설정
                    </button>
                    <ul class="dropdown-menu col-12">
                        <li>
                            <button class="dropdown-item">아이디 찾기</button>
                        </li>
                        <li>
                            <button class="dropdown-item">비밀번호 찾기</button>
                        </li>
                        <li>
                            <button class="dropdown-item">회원가입</button>
                        </li>
                    </ul>
                </div>
            </div>

            <!--lg일 때, 사라짐-->
            <div class="d-none d-lg-block">
                <div class="">
                    <ul class="list-group list-group-horizontal mt-5">
                        <li class="list-group-item col-4">
                            <button class="w-100 btn">아이디 찾기</button>
                        </li>
                        <li class="list-group-item col-4">
                            <button class="w-100 btn">비밀번호 찾기</button>
                        </li>
                        <li class="list-group-item col-4">
                            <button class="w-100 btn">회원가입</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>