<!DOCTYPE html>
<html lang="UTF-8">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>learn-bootstrap</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <!-- 아이콘쓸수있게해주는 cdn 링크 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        html,body {
         height: 100%;
        }   
    </style>
</head>
<body class="text-center">
    <!-- 네비바 -->
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <!-- 아이콘 -->
          <i class="bi bi-person-circle fs-5"></i>
        </form>
      </div>
    </nav>
    <div class="row d-flex align-items-center ">
      <div class="w-25"> 
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-outline-primary">플랜 만들기</button>
          <button type="button" class="btn btn-outline-primary">할일 만들기</button>
        </div>
      </div>
      <div class="w-50 text-start"> 
        <i class="bi bi-calendar"></i>
        날짜
        <i class="bi bi-chevron-left"></i>
        <i class="bi bi-chevron-right"></i>
      </div>
      <div class="w-25"> 
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-outline-primary">월간 보기</button>
          <button type="button" class="btn btn-outline-primary">주간 보기</button>
        </div>
      </div>
    </div>

    <div class="row d-flex text-start h-100">
      <div class="w-25"> 
        <div>
          할 일 한눈에 보기
          <i class="bi bi-chevron-right"></i>
        </div>
        <div>
          내 플랜
          <i class="bi bi-chevron-up"></i>
          <i class="bi bi-chevron-down"></i>
          <i class="bi bi-plus-lg"></i>
        </div>
        <div>
          팀 플랜
          <i class="bi bi-chevron-up"></i>
          <i class="bi bi-chevron-down"></i>
          <i class="bi bi-plus-lg"></i>
        </div>
      </div>
      <div class="w-50"> 
        달력
      </div>
      <div class="w-25"> 
        <div>
          날짜
        </div>
        <div>
          일정정보
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Vertically centered modal -->
<div class="modal-dialog modal-dialog-centered">
  ...
</div>

<!-- Vertically centered scrollable modal -->
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  ...
</div>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>