<!-- Modal header -->
<div class="modal-header">
    <h5>Modal Test</h5>
</div>

<!-- Modal body -->
<div class="modal-body">
    <!-- row : [bootstrap] 내부 col을 갖는 요소는 모두 가로 배치 -->
    <div class="row">
        <!-- col-6 : [bootstrap] 가로 배치 (공간은 6/12 차지) -->
        <div class="col-6" style="text-align: left;">
            <div style="background-color: gray;">
                모달 테스트
            </div>
        </div>
        <!-- col-6 : [bootstrap] 가로 배치 (공간은 6/12 차지) -->
        <div class="col-6" style="text-align: right;">
            <div style="background-color: darkblue;">
                입니다.
            </div>
        </div>
    </div>
</div>

<!-- Modal footer -->
<div class="footer">
    <div class="float-right" style="text-align: right;">
        <!-- 종료 버튼 -->
        <!--
            btn : [bootstrap] 부트 스트랩 버튼 사용
            mr-2 : [bootstrap] margin right를 2만큼
            bm-2 : [bootstrap] margin bottom을 2만큼
         -->
        <button type="button" class="btn mr-2 mb-2" id="closeBtn">닫기</button>
    </div>
</div>